{# <section class="s-block s-block--fixed-banner wide-placeholder">
    <div class="container">
        <salla-filters
        id="vehicleFilters"
        filters='[
          {
            "label": "الماركة",
            "key": "الماركه",
            "inputType": "checkbox",
            "type": "variants",
            "value": [
              {
                "key": "zara",
                "value": "zara",
                "count": 1,
                "from": "*",
                "to": "*"
              }
            ]
          }
        ]'>
      </salla-filters>
    </div>
   
  <div class="container"> <salla-products-list
    id="carList"
    source="categories"
    source-value="1360317432"
    limit="7"
    
    horizontal-cards="true">
  </salla-products-list></div>
 

</section>
  <script>
  const filters = document.getElementById('vehicleFilters');
  const productList = document.getElementById('carList');

  filters.addEventListener('salla-filters::changed', (event) => {
    productList.setFilters(event.detail);
  });

  document.addEventListener('salla-filters::re-render', () => {
    productList.setFilters(filters.getSelectedFilters());
  });
</script>
   #}
   <!-- لازم يحمل سكريبت السلة أولاً -->

<section class="s-block s-block--fixed-banner wide-placeholder">
  
    <!-- مكوّن الفلاتر -->
    <div id="product-filters">
      <salla-filters
        filters='[
          {
            "label": "By Brand",
            "key": "categories",
            "inputType": "checkbox",
            "type": "variants",
            "value": [
              {
                "key": "{{ brand.id }}",
                "count": {{ brand.count }},
                "value": "{{ brand.name }}",
                "from": "*",
                "to": "*"
              }
            ]
          }
        ]'
      ></salla-filters>
    </div>
    
  

  
    {# <!-- مكوّن عرض المنتجات -->
    <salla-products-list
      id="carList"
      source="categories"
      source-value="1360317432"
      limit="7"
      
      horizontal-cards="true">
    </salla-products-list> #}

</section>


