<section class="container py-10">
  <!-- قائمة المنتجات من سلة مع الفلاتر الافتراضية -->
  <salla-products-list
    source="categories"
    source-value="1360317432"
    limit="20"
    pagination="true">
  </salla-products-list>
</section>