    {% set filters = true %}
   <a href="#filters-menu"
                               class="filters-trigger bg-border-color text-primary lg:hidden mt-2">
                                <i class="sicon-filter text-gray-text text-2xl me-2.5"></i>
                            </a>